@import url("/styles/style.css");


:root {
    --discord-gray:#424549;
    --tropical-indigo: #A695FC;
}

body {
    background-color: var(--black);
    text-align: center;
}

hr {
    width: 50%;
    border: 2px solid var(--chinese-violet);
    border-radius: 5px;
}

.title {
    color: var(--red);
    text-shadow: -3px -4px 0px var(--yellow);
    letter-spacing: 0.1em;
    font-family: "Satoshi-Bold";
}

.yellow-font {
    color: var(--yellow);
    text-shadow: -3px -4px 0px var(--red);
}

#errors {
    color: var(--red);
    text-shadow: none;
}

#board {
    background-color: var(--discord-gray);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#digits {
    background-color: var(--black);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yellow);
}

.tile-start {
    background-color: var(--slate-gray);
}

.number {
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--discord-gray);
    color: var(--yellow);
    margin: 2px;
    font-family: "Satoshi-Bold";
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: var(--tropical-indigo);
    transition: 0.2s ease-in-out;
}

.horizontal-line {
    border-bottom: 1px solid var(--yellow);
}

.vertical-line {
    border-right: 1px solid var(--yellow);
}

/* Small screen */
@media only screen and (max-width: 600px) {
    main {
        margin-left: 0;
    }

    .title {
        font-size: 30px;
    }

    #board {
        width: 450px;
        height: 450px;
    }

    #digits {
        width: 450px;
        height: 50px;
    }

    .tile {
        width: 48px;
        height: 48px;
        font-size: 12px;
    }

    .number {
        width: 44px;
        height: 44px;
        font-size: 12px;
    }
}

/* Large screen */
@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
    }

    .title {
        font-size: 45px;
    }

    #board {
        width: 630px;
        height: 630px;
    }

    #digits {
        width: 630px;
        height: 70px;
    }

    .tile {
        width: 68px;
        height: 68px;
        font-size: 20px;
    }

    .number {
        width: 64px;
        height: 64px;
        font-size: 20px;
    }
}
